@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html,
body {
    height: 100vh;
    font-family: "Source Sans Pro";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

header {
    background-color: #132a13;

}

header .container-boss {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 980px;
    margin: auto;
}

header img {
    width: 190px;
    margin-left: 20px;
    padding: 15px 0;
}

.picture {
    margin-left: 00px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 2.4rem;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background: rgba(255, 255, 255, 0.15)
}

h2 {
    color: rgb(75, 75, 75);
    font-size: 36px;
    line-height: 46px;
}

h3 {
    color: white;
    font-size: 18px;

}

.button {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: #31572c;
    margin: 15px 0px 0px;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 150ms linear 0s;
}

.button:hover {
    opacity: 0.9;
}

/*=============== 
HERO
==================*/
section.hero {
    margin: 80px 0;
}

section.hero .container {
    width: 90%;
    max-width: 1500px;
    margin: auto;
    display: flex;
    height: 650px;
    align-items: center;
    justify-content: space-around;
}

.container-titulos {
    max-width: 700px;
}

section.hero p {
    color: rgb(154, 142, 191);
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin: 10px 0px 0px;
}



.about {
    background-color: #c1ccbf;
    height: 1000px;
    display: flex;
    flex-direction: column;
    text-align: center;

    font-size: 2.5rem;
    font-family: "Source Sans Pro";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    margin: 134px 0px;

}

.about-me {
    font-size: 4.5rem;
    justify-content: start;
    padding-top: 50px;

    color: rgb(75, 75, 75);
    font-size: 4.5rem;
    line-height: 46px;
}

.texto-sobre-mim {
    font-size: 2.3rem;
    padding-top: 50px;
    margin: 0 90px;

    color: rgb(75, 75, 75);
    line-height: 40px;
}

.sent {
    padding-top: 50px;

}

.container-skills {
    height: 150px;
}

.skills {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.skills p {
    font-size: 5rem;
    color: rgb(75, 75, 75);
    font-family: "Source Sans Pro";
}


.cards>p {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 60px;
}

section.cards.card {
    width: 150px;
}

.card {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250, 1fr));
    justify-content: center;
    justify-items: center;
    column-gap: 40px;
    row-gap: 40px;
    margin-bottom: 100px;
}

.card>img {
    cursor: pointer;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    transition: all .3s;
}

.card>img:hover {
    transform: scale(1.1);
    border-radius: 2px;
    box-shadow: 0 15px 25px rgba(255, 255, 255, .9);
}

.rodape {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.7rem;
    align-items: center;
    margin: 0px;
    color: #fff;
    margin-bottom: 0px;
    cursor: default;
    background-color: #132a13;
    padding: 20px;
}

.redes-sociais {
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 1.5rem;
    font-family: "Source Sans Pro";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

#btnTop {
    position: fixed;
    bottom: 60px;
    right: 50px;
    width: 50px;
    height: 50px;
    background-color: #778176d3;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: solid #fff;
}

.arrow {
    border: solid white;
    border-width: 0 7px 7px 0;
    padding: 5px;
    display: inline-block;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.instagram {
    padding-right: 10px;
    transition: transform 0.2s;
}

.instagram:hover {
    transform: scale(1.1);
}

.facebook {
    padding-right: 10px;
    transition: transform 0.2s;
}

.facebook:hover {
    transform: scale(1.1);
}

.whatsapp {
    padding-right: 10px;
    transition: transform 0.2s;
}

.whatsapp:hover {
    transform: scale(1.1);
}

.linkedin {
    padding-right: 10px;
    transition: transform 0.2s;
}

.linkedin:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 4920px) {
    .card {
        width: 50%;
        max-width: 1100px;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        justify-items: center;
        column-gap: 40px;
        row-gap: 40px;
        margin-bottom: 100px;
    }
}


@media only screen and (max-width: 1323px) {

    .card {
        width: 50%;
        max-width: 1100px;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        justify-items: center;
        column-gap: 40px;
        row-gap: 40px;
        margin-bottom: 100px;
    }

    .texto-sobre-mim {
        font-size: 17px;
    }

    .sent {
        width: 300px;
    }

    #btnTop {
        position: fixed;
        bottom: 60px;
        right: 20px;
        width: 50px;
        height: 50px;
    }

}

@media only screen and (max-width: 1287px) {
    .card {
        width: 50%;

        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        justify-items: center;
        column-gap: 40px;
        row-gap: 40px;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 889px) {
    #btnTop {
        display: none;
        color: transparent;
        background-color: transparent;
        border: none;
    }

    .arrow {
        display: none;
        color: transparent;
        background-color: transparent;
    }

    .up {
        display: none;
        color: transparent;
        background-color: transparent;
    }

    .container-titulos h2 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 805px) {
    .card {
        width: 50%;
        max-width: 1100px;
        margin: auto;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        justify-items: center;
        column-gap: 40px;
        row-gap: 40px;
        margin-bottom: 100px;
    }

    .picture {
        width: 400px;
    }

    .container-titulos h2 {
        font-size: 25px;
    }

    nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    /* Fulscreem */

    .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #132a13;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 38px;
        top: 15px;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .menu-section.on nav ul {
        text-align: center;
        display: block;
    }

    .menu-section.on nav ul a {
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 4rem;
        display: block;
    }
    .rodape h3, .redes-sociais{
        display: flex;
        justify-content: space-around;
        font-size: 1.1rem;
        
    }
    nav .redes-sociais{
        width: 20px;
    }
}
    @media only screen and (max-width: 764px) {
        .texto-sobre-mim {
            font-size: 1.5rem;
            padding-top: 50px;
            margin: 0 90px;

            color: rgb(75, 75, 75);
            line-height: 40px;
        }
    }


    @media only screen and (max-width: 696px) {
        .texto-sobre-mim {
            line-height: 35px;
            margin: 0 25px;
        }

        .sent {
            width: 300px;
        }
    }

    @media only screen and (max-width: 607px) {
        .texto-sobre-mim {
            line-height: 28px;
            margin: 0 25px;
        }

        .container {
            flex-direction: column;
            text-align: center;
        }

        .picture {
            order: -1;
        }

        .sent {
            width: 300px;
        }
    }

    @media only screen and (max-width: 395px) {
        .picture {
            width: 250px;
        }

        .texto-sobre-mim {
            font-size: 1.5rem;
        }
    }

    @media only screen and (max-width: 395px) {
        .texto-sobre-mim {
            font-size: 1.3rem;
            line-height: 23px;
        }
        .rodape h3{
            display: none;
        }
    }